{% extends 'base.html.twig' %}

{% block title %}Liste des Commissions{% endblock %}

{% block body %}
<h1>Liste des Commissions</h1>
<table>
    <thead>
        <tr>
            <th>Commission</th>
            <th>Temporaire</th>
            <th>Auteur</th>
            <th>Date de Création</th>
            <th>Date de Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for commission in commissions %}
            <tr>
                <td>{{ commission.name }}</td>
                <td>{{ commission.is_temp ? 'Oui' : 'Non' }}</td>
                <td>{{ commission.author_id }}</td>
                <td>{{ commission.created_at|date('d/m/Y') }}</td>
                <td>{{ commission.closed_at|date('d/m/Y') }}</td>
                <td>
                    <a href="#">Modifier</a>
                    <a href="#">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
